<site-header>
    <header>
        <h1>#MiniBlaseball</h1>
        <h5>Blaseball players art by @HetreaSky</h5>
    </header>


    <style>
    header h1 {
        margin-bottom: 0.2em;
    }

    header h5 {
        margin-top: 0;
        font-weight: 600;
        font-size: 1em;
    }
    </style>
</site-header>
